<!-- Start Header From **********************************************************************************************************-->
<div class="sidenav">
  <!--  พนักงาน(Employee) --------------------------------------------------------------------------------->
  <div class="stylebutom">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>  <!--  เห็นเฉพาะ HR -->
          <mat-label class="dd">
            Employee
          </mat-label>
        </mat-expansion-panel-header>
        <hr/>
        <a routerLink="EmployeeAdd" (click)="openemployee_add()">New Employee</a>
        <a routerLink="Employee">Employee Master</a>
      </mat-expansion-panel>

      <!--  การลา(leave) --------------------------------------------------------------------------------->

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-label class="dd">
            Attendance
          </mat-label>
        </mat-expansion-panel-header>
        <hr/>
        <a routerLink="LeaveMain">Attendance</a> <!-- เห็นทุกคน ยกเว้น HR -->
        <a routerLink="LeaveShow">Data Attendance</a>  <!-- เห็นทุกคน -->
        <a routerLink="LeaveShowHR">Data Attendance For HR</a>   <!-- เห็นเฉพาะ HR -->
        <a routerLink="LeaveApproveMan">Approve By MANAGER</a>   <!-- เห็นเฉพาะ MANAGER -->
        <a routerLink="LeaveApproveSup">Approve By SUPERVISOR</a>   <!-- เห็นเฉพาะ SUPERVISOR -->
      </mat-expansion-panel>

      <!--  ขอล่วงเวลา(OT) --------------------------------------------------------------------------------->

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-label class="dd">
            OverTime
          </mat-label>
        </mat-expansion-panel-header>
        <hr/>
        <a routerLink="OverTime">OverTime</a>
        <a routerLink="OverTimeShow">Data OverTime</a>
        <a routerLink="OverTimeApprove">Approve</a>
      </mat-expansion-panel>

      <!--  อบรม (Training) --------------------------------------------------------------------------------->

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-label class="dd">
            Training
          </mat-label>
        </mat-expansion-panel-header>
        <hr/>
        <a routerLink="TrainAdd">Training</a>
        <a routerLink="TrainShow">Data Training</a>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button color="primary" *ngIf="" routerLink="login" style="margin-right:10px ;color :#ffff">Login </button>
    <button mat-raised-button color="primary" *ngIf="" routerLink="Logout" (click)="onLogout()" style="margin-right:10px ;color :#ffff">Logout </button>
  </div>
</div>


<!-- End Header From **********************************************************************************************************-->




<body class="bgimg">

<div class="card">
  <h1>New Employee</h1>








</div>
</body>



