.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-Badge{
}
.example-container {
  top : 0;
  width: auto;
  height: auto;
  margin: 0%;
}
mat-drawer-content {
  padding: 100px;
  flex-direction: 100px;
  align-items: 1000px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 100;
  left: 0px;
  background-color: #000033;
  overflow-x: hidden;
  padding-top: 20px;
  color: #00ff00;
  opacity: 0.7;
}
.dd{
  font-size: 18px;
   color: #000000;
   /*font-weight: bold;*/
}
.sidenav a {
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-size: 17px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #000099;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.lo{
     max-width: 400px;
     margin-left: auto;
     margin-right: 0;
}

.example-form-field {
  width: 200px;
}

.sss{
  background-color: #000088;
  opacity: 0.9;
  box-shadow: rgba(0,0,0,0.2);
  transition: 0.3s;
}
.sss:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.font{
  font-family:Verdana;
 /* text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;*/
  text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,0 0 0.2em #87F;
}
img {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}
.bgimg{
  background-image:url(src/app/image/hr.jpg);
    margin: 0;
    border: thin silver solid;
     width: 99.8%;
     height: 89.5%;
}
.logo{
    background-image:url(src/app/image/ils-logo-01.png);
     margin: right;
       width: 100px;
       height:100px;
}

h1.b {text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87}

